
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.link, .link-btn {
    text-decoration: none;
    color: #FFFFFF;
}

.link-bk {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.link:hover, .link-bk:hover {
    text-decoration: underline;
}

.font-sans-serif {
    color: #5F6368;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25rem;
}

.font-google-sans {
    font-family: "Google Sans", "Roboto", Arial, sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 300;
    text-transform: none;
}

.color-white {
    color: #FFFFFF;
}

.bold {
    font-weight: 500;
}

.margin {
    margin: 0;
}

.width1 {
    width: 25%;
}

.width2 {
    width: 37.5%;
}

.width3 {
    width: 33.33%;
}

.header {
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    margin-top: -.6%;
    position: fixed;
    background-color: #FFFFFF;
    width: 98%;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 2;
}

.header-left {
    column-gap: 15px;
}

.hamburger-menu {
    padding-top: 2%;
}

.menu {
    row-gap: 3px;
}

.menu-line {
    width: 20px;
    height: 2px;
    background-color: #212121;
}

.header-google-classroom {
    margin-top: .5%;
    column-gap: 5px;
}

.header-classroom-title {
    font-size: 15px;
}

.header-classroom-sub-title {
    font-size: 12px;
}

.header-middle {
    justify-content: center;
    align-items: center;
    color: #5F6368;
}

.header-middle-category {
    justify-content: center;
}

.header-right {
    column-gap: 30px;    
    align-items: center;
    padding-right: 1%;
    justify-content: flex-end;
}

.header-join-classes {
    margin-top: 4%;
}

.header-join-classes-hor {
    width: 16px;
    height: 2px;
    background-color: #212121;
}

.header-join-classes-ver {
    width: 2px;
    height: 16px;
    background-color: #212121;
    position: absolute;
    margin-top: -.65%;
    margin-left: .5%;
}

.header-google-apps {
    align-items: center;
    row-gap: 2px;
}

.header-google-apps-row {
    column-gap: 2px;
}

.google-apps-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #5F6368;
}

.header-google-account {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5F6368;
}

hr {
    margin-top: 4.8%;
    opacity: 40%;
    z-index: 1;
    width: 100%;
}

.left-content hr {
    opacity: 40%;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
}

.head-info{
    margin-left: 50px;
}

.grade-deadline{
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 20px 0px 50px;
    
}

.circle {
    background-color: #5F6368;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-top: 20px;
    margin-right: 20px;
}


.material-icon {
    fill: #FFFFFF;
    width: 100%;
    margin-top: 20%;
}

.cmnt-img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.class-content{
    width: 100%;
    justify-content: center;
    
}
.left-content{
    width: 50%;
}
.right-content{
    width: 20%;
    margin-left: 40px;
}

.assign{
    color: green;
}
.head-table-yourwork{
    justify-content: space-between;
    padding: 5px 20px;
}


.table-yourwork-above{
    width: 100%;
    height: 200px;
    border: 2px solid #DADCE0;
    border-radius: 10px;
    margin-top: 20px;
}

.table-private-comments{
    width: 100%;
    height: 120px;
    border: 2px solid #DADCE0;
    border-radius: 10px;
    margin-top: 20px;

}

.assignment-file{
    color: #212121;
    width: 80%;
    margin: 10px 10%;
    border-radius: 7px;
    height: 40px;
    border: 2px solid #DADCE0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    color: aliceblue;
    background-color: #212121;
    width: 80%;
    margin: 0 10%;
    border-radius: 7px;
    height: 40px;
}

.pv-cmnt-logo{
    margin: 20px 10px 10px 10px;
}

.table-private-comments > h4 {
    margin-left: 20px;
}

.file-input {
    margin-left: 15%;
    height: 20%;
}

.authorize {
    width: 100%;
    height: 20%;
    justify-content: center;
}

.buttons {
    row-gap: 15px;
}