.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.font-sans-serif {
    color: #5F6368;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25rem;
}

.header {
    padding-left: 1.3%;
    padding-top: 2.1%;
    margin-top: -.6%;
    position: fixed;
    background-color: #FFFFFF;
    width: 98%;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 2;
}

.header-left {
    column-gap: 15px;
}

.menu {
    width: 25px;
    cursor: pointer;
}

.header-google-classroom {
    margin-top: .5%;
    column-gap: 5px;
}

.google-logo {
    margin-top: -8%;
}

.header-classroom {
    margin-top: 0;
}

.header-right {
    column-gap: 30px;    
    align-items: center;
    margin-top: -1%;
    padding-right: 1%;
}

.header-join-classes {
    margin-top: 4%;
}

.header-join-classes-hor {
    width: 16px;
    height: 2px;
    background-color: #212121;
}

.header-join-classes-ver {
    width: 2px;
    height: 16px;
    background-color: #212121;
    position: absolute;
    margin-top: -.65%;
    margin-left: .5%;
}

.header-google-apps {
    align-items: center;
    row-gap: 2px;
}

.header-google-apps-row {
    column-gap: 2px;
}

.google-apps-circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #5F6368;
}

.header-google-account {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5F6368;
}

hr {
    margin-top: 4.8%;
    opacity: 40%;
    z-index: 1;
}